:root {
    --background: 0 0% 100%;
    --foreground: 30 3% 19%;
    --card: 0 0% 100%;
    --card-foreground: 30 3% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 3% 19%;
    --primary: 0 0% 6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 11% 95%;
    --secondary-foreground: 30 3% 19%;
    --muted: 30 11% 95%;
    --muted-foreground: 30 2% 38%;
    --accent: 30 11% 95%;
    --accent-foreground: 30 3% 19%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --message-info: 30 8% 95%;
    --message-warning: 46.53 100% 90.39%;
    --message-blocked: 354.55 84.62% 94.9%;
    --message-icon: 30 2% 38%;
    --message-blocked-icon: 0 100% 33%;
    --border: 30 5% 88%;
    --input: 30 5% 88%;
    --ring: 0 0% 6%;
    --radius: 0.375rem;
}

.dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 88%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 88%;
    --primary: 181 100% 61%;
    --primary-foreground: 0 0% 6%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 73%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --message-info: 0 0% 18%;
    --message-warning: 43 42% 22%;
    --message-blocked: 350 38% 20%;
    --message-icon: 0 0% 73%;
    --message-blocked-icon: 0 72% 70%;
    --border: 0 0% 26%;
    --input: 0 0% 26%;
    --ring: 181 100% 61%;
}
