.content-container{
  /* padding: 1em 9% 0px 9%; */
  padding: 1em;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header-bar{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  min-height: 60px;
}
.logo{
  float: right;
  width: 36px;
  padding: 1px;
  cursor: pointer;
}
.logo>img{
  width: 100%;
}
h2, h3 {
  color: #323130;
  font-weight: 500;
}
.state-header{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #323130;
  font-weight: 500;
}
.state-description{
  margin-top: 10px;
  font-weight: 360;
  font-size: 12px;
  color: #8a8886;
}

.pure-card{
  background-color: #fff;
  padding: 1em;
  border-radius: 2px;
  /* box-shadow: 0 1.6px 7.6px 0 rgba(0, 0, 0, 0.1), 0 0.3px 1.9px 0 rgba(0, 0, 0, 0.08); */
  margin-bottom: 1em;
}
.card{
  background-color: #fff;
  padding: 1em;
  border-radius: 2px;
  /* box-shadow: 0 1.6px 7.6px 0 rgba(0, 0, 0, 0.1), 0 0.3px 1.9px 0 rgba(0, 0, 0, 0.08); */
  margin-bottom: 1em;
  animation-duration: 0.5s;
  animation-name: showCard;
}

@keyframes showCard {
  from {
    transform: scaleY(0);
  }
  end{
    transform: scaleY(1);
  }
}

.vi-callout{
  min-Width: 600px;
}
.vi-callout-header{
  padding: 18px 24px 12px;
}
.vi-callout-close-icon{
  float: right;
}
.vi-callout-title{
  margin: 0;
  font-size: 21px;
  font-weight: 100;
  color: #323130;
  font-weight: 300;
}
.vi-callout-inner{
  height: 100%;
  padding: 0px 24px 20px;
}
.vi-callout-subText{
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #323130;
  font-weight: 300;
}
.vi-callout-actions{
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap;
}

.header-toolbar{
  float: right;
  padding: 0.5rem;
}

.main-app-container{
  display: flex;
  position: fixed;
  /* top: 60px; */
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.main-app-container > .main-app-nav{
  /* position: fixed;
  left: 0px;
  bottom: 0px; */
  /* flex-basis: 220px; */
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fff;
}

.main-app-container > .main-app-content{
  flex-basis: 800px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.kanaries-copy-right-footer{
  position: absolute;
  bottom: 4px;
  font-size: 12px;
  left: 50%;
  color: #3e3e3e;
  transform: translateX(-50%);
}
.kanaries-copy-right-footer>a{
  text-decoration: underline;
}

hr{
  border: none;
  border-top: 1px solid #efefef;
}

h1 {
  font-weight: 400;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}